@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"), url("../fonts/poppins-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/poppins-v20-latin-500.woff2") format("woff2"), url("../fonts/poppins-v20-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/poppins-v20-latin-700.woff2") format("woff2"), url("../fonts/poppins-v20-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
:root {
  --text-colar-9e9: #9E9AA8;
  --tex-colar-343: #34313D;
  --text-colar-fff: #fff;
  --text-font-size-15: 15px;
  --text-font-size-16: 16px;
  --text-font-size-18: 18px;
  --text-font-size-20: 20px;
  --text-font-size-22: 22px;
  --text-font-size-40: 40px;
  --text-font-size-80: 80px;
  --text-line-height-22: 22px;
  --text-line-height-24: 24px;
  --text-line-height-26: 26px;
  --text-line-height-30: 30px;
  --text-line-height-32: 32px;
  --text-line-height-33: 33px;
  --text-line-height-36: 36px;
  --text-line-height-48: 48px;
  --text-line-height-90: 90px;
  --button-bg-colar-2bd: #2BD0D0;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 400;
}

main {
  flex-grow: 1;
}

img {
  display: block;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1148px;
  margin: 0 auto;
  padding: 0 20px;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.header-box {
  padding-top: 55px;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-box__logo {
  margin-right: 45px;
}

.header-box__left {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  align-items: center;
}

.header-list__box {
  margin-right: 30px;
  list-style: none;
}

.header-list__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #9E9AA8;
}

.header-box__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #9E9AA8;
}

.header-list__link:hover {
  color: var(--tex-colar-343);
}

.site-btn {
  display: inline-block;
  width: 110px;
  margin-left: 32px;
  padding: 9px 23px;
  background-color: #2BD0D0;
  border-radius: 28px;
  font-weight: 700;
  font-size: var(--text-font-size-15);
  line-height: var(--text-line-height-22);
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.site-btn:hover {
  background-color: #9AE3E3;
}

.bureger {
  display: none;
}

@media only screen and (max-width: 735px) {
  .header-box__right {
    display: none;
  }
  .header-box__logo {
    margin-right: 0;
  }
  .header-box__left {
    width: 100%;
  }
  .header-list {
    display: none;
  }
  .header-list__box:last-child {
    margin-right: 0;
  }
  .bureger {
    display: block;
    background-image: url("../img/burrger.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 21px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .header-box {
    position: relative;
  }
  .header-naw-open .header-box__left .header-list {
    display: block;
  }
  .header-naw-open .header-box__right {
    display: flex;
  }
  .header-list {
    position: absolute;
    top: 125px;
    left: 0;
    right: 0;
    padding: 40px 0;
    background-color: #3A3054;
    border-radius: 10px;
    z-index: 5;
  }
  .header-box__right {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -395px;
    padding: 32px 24px 40px 24px;
    align-items: center;
    flex-direction: column;
    background-color: #3A3054;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top: 1px solid #9E9AA8;
    z-index: 5;
  }
  .site-btn {
    display: block;
    margin-top: 24px;
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
  .header-list__box {
    margin: 0;
    text-align: center;
  }
  .header-list__box:not(:last-child) {
    margin-bottom: 30px;
  }
}
.hero {
  padding-top: 139px;
  height: 665px;
  background-color: #fff;
}

.hero-box {
  position: relative;
}

.hero-box__left {
  width: 100%;
  max-width: 592px;
}

.hero {
  background-image: url("../img/hero-bg-fuul.svg");
  background-size: 733px 482px;
  background-repeat: no-repeat;
  background-position: calc(50% + 485px) 45px;
}

.hero-box__title {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: var(--text-font-size-80);
  line-height: var(--text-line-height-90);
  color: var(--tex-colar-343);
}

.hero-box__text {
  margin: 0;
  margin-bottom: 52px;
  font-size: var(--text-font-size-22);
  line-height: var(--text-line-height-36);
  color: var(--text-colar-9e9);
}

.advanced-box-btn {
  margin: 52px 0 0 0;
  margin-top: 52px;
  width: 100%;
  max-width: 197px;
  padding: 14px 40px;
  background-color: #2BD0D0;
  border-radius: 28px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  font-size: var(--text-font-size-20);
  line-height: var(--text-line-height-30);
  text-decoration: none;
}

.hero-box__input-box {
  position: absolute;
  left: 0%;
  bottom: -88%;
  background-image: url("../img/hero-input.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 100%;
  max-width: 1110px;
  height: 169px;
  padding: 52px 35px 26px 35px;
}

.hero-box__input {
  width: 100%;
  max-width: 769px;
  height: 64px;
  padding: 14px 32px;
  border-radius: 10px;
}

.hero-box__input:not(:-moz-placeholder-shown):not(:focus):invalid {
  border: 3px solid #F46363;
  border-radius: 10px;
  color: #F46363;
}

.hero-box__input:not(:-ms-input-placeholder):not(:focus):invalid {
  border: 3px solid #F46363;
  border-radius: 10px;
  color: #F46363;
}

.hero-box__input:not(:placeholder-shown):not(:focus):invalid {
  border: 3px solid #F46363;
  border-radius: 10px;
  color: #F46363;
}

.hero-box__input:not(:-moz-placeholder-shown):not(:focus):valid {
  border: 3px solid #2BD0D0;
  border-radius: 10px;
  color: #2BD0D0;
}

.hero-box__input:not(:-ms-input-placeholder):not(:focus):valid {
  border: 3px solid #2BD0D0;
  border-radius: 10px;
  color: #2BD0D0;
}

.hero-box__input:not(:placeholder-shown):not(:focus):valid {
  border: 3px solid #2BD0D0;
  border-radius: 10px;
  color: #2BD0D0;
}

.hero-box__input:not(:-moz-placeholder-shown):not(:focus):valid ~ .hero-box__input-invalid {
  opacity: 1;
  color: #2BD0D0;
}

.hero-box__input:not(:-ms-input-placeholder):not(:focus):valid ~ .hero-box__input-invalid {
  opacity: 1;
  color: #2BD0D0;
}

.hero-box__input:not(:placeholder-shown):not(:focus):valid ~ .hero-box__input-invalid {
  opacity: 1;
  color: #2BD0D0;
}

.hero-box__input:not(:-moz-placeholder-shown):not(:focus):invalid ~ .hero-box__input-invalid {
  opacity: 1;
}

.hero-box__input:not(:-ms-input-placeholder):not(:focus):invalid ~ .hero-box__input-invalid {
  opacity: 1;
}

.hero-box__input:not(:placeholder-shown):not(:focus):invalid ~ .hero-box__input-invalid {
  opacity: 1;
}

.hero-box__input-invalid {
  opacity: 0;
  color: #F46363;
  margin-top: 5px;
}

.hero-box__lable {
  width: 100%;
  max-width: 769px;
}

.hero-box__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-box__input::-moz-placeholder {
  font-weight: 500;
  font-size: var(--text-font-size-20);
  line-height: var(--text-line-height-36);
  color: rgba(52, 49, 61, 0.5019607843);
}

.hero-box__input:-ms-input-placeholder {
  font-weight: 500;
  font-size: var(--text-font-size-20);
  line-height: var(--text-line-height-36);
  color: rgba(52, 49, 61, 0.5019607843);
}

.hero-box__input::placeholder {
  font-weight: 500;
  font-size: var(--text-font-size-20);
  line-height: var(--text-line-height-36);
  color: rgba(52, 49, 61, 0.5019607843);
}

.hero-box__input-button {
  margin-left: 18px;
  width: 220px;
  height: 64px;
  padding: 14px 40px;
  background-color: #2BD0D0;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: var(--text-font-size-20);
  line-height: var(--text-line-height-30);
  color: #FFFFFF;
  margin-bottom: 25px;
}

.hero-box__input-button:hover {
  background-color: #9AE3E3;
}

.advanced-box-btn:hover {
  background-color: #9AE3E3;
}

.header-list__link:hover {
  color: #34313D;
}

@media screen and (max-width: 1170px) {
  .hero {
    background-position: calc(50% + 400px) 45px;
  }
  .hero-box__left {
    position: relative;
    max-width: 450px;
  }
  .hero-box__title {
    font-size: 60px;
    line-height: 80px;
  }
  .hero-box__text {
    font-size: var(--text-font-size-20);
    line-height: var(--text-line-height-22);
  }
  .hero-box__input-button {
    margin-left: 16px;
    width: 220px;
    font-size: var(--text-font-size-18);
    line-height: var(--text-line-height-24);
  }
}
@media screen and (max-width: 800px) {
  .hero {
    background-position: calc(50% + 400px) 45px;
    padding-top: 120px;
  }
  .hero-box__left {
    max-width: 370px;
  }
  .hero-box__title {
    font-size: 50px;
    line-height: 60px;
  }
  .hero-box__text {
    font-size: var(--text-font-size-18);
    line-height: var(--text-line-height-22);
  }
  .hero-box__input-box {
    bottom: -125%;
  }
}
@media screen and (max-width: 735px) {
  .hero {
    background-size: 600px 400px;
    background-position: calc(50% + 50px) 45px;
    padding-top: 120px;
    height: 980px;
  }
  .hero-box__left {
    position: relative;
    bottom: -380px;
    margin: 0 auto;
  }
  .hero-box__form {
    flex-direction: column;
  }
  .hero-box__title {
    text-align: center;
  }
  .hero-box__text {
    text-align: center;
  }
  .advanced-box-btn {
    display: block;
    margin: 0 auto;
  }
  .hero-box__input-box {
    position: absolute;
    left: 0%;
    bottom: -215%;
    width: 100%;
    max-width: 1110px;
    padding: 15px 35px 26px 35px;
    background-size: cover;
    height: 185px;
    border-radius: 10px;
  }
  .hero-box__input-button {
    display: block;
    width: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 500px) {
  .hero {
    background-size: 500px 300px;
    height: 860px;
  }
  .hero-box__left {
    bottom: -280px;
  }
  .hero-box__title {
    font-size: 42px;
    line-height: 48px;
  }
  .hero-box__text {
    font-size: 18px;
    line-height: 30px;
  }
  .hero-box__input-box {
    bottom: -175%;
  }
}
@media screen and (max-width: 388px) {
  .hero {
    background-size: 500px 300px;
    height: 900px;
  }
  .hero-box__input-box {
    bottom: -190%;
  }
}
@media screen and (max-width: 350px) {
  .hero {
    background-size: 500px 300px;
    height: 915px;
  }
  .hero-box__input-box {
    bottom: -155%;
  }
}
.advanced-section {
  padding-top: 204px;
  padding-bottom: 208px;
  background-color: #F2F2F2;
}

.advanced-box {
  width: 100%;
  display: inline-block;
}

.advanced-box__text {
  margin: 0 auto;
  width: 100%;
  max-width: 540px;
}

.advanced-box__title {
  margin: 0;
  margin-bottom: 18px;
  font-weight: 700;
  font-size: var(--text-font-size-40);
  line-height: var(--text-line-height-48);
  text-align: center;
  color: var(--tex-colar-343);
}

.advanced-box__text {
  margin: 0 auto;
  font-weight: 500;
  font-size: var(--text-font-size-18);
  line-height: var(--text-line-height-32);
  text-align: center;
  color: var(--text-colar-9e9);
}

.advanced-box__list {
  margin: 0 auto;
  width: 100%;
  max-width: 327px;
  margin-top: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 90px;
}

.advanced-box__list::before {
  position: absolute;
  display: inline-block;
  right: calc(50% - 418px);
  bottom: 51%;
  content: "";
  width: 835px;
  height: 8px;
  background-color: #2BD0D0;
  background-size: contain;
  transform: rotate(90deg);
}

.advanced-box__item {
  margin: 0 auto;
  position: relative;
  z-index: 3;
  width: 100%;
  max-width: 350px;
  padding: 77px 32px 41px 32px;
  border-radius: 5px;
  background-color: #fff;
  list-style: none;
}

.advanced-box__item::before {
  position: absolute;
  top: -18%;
  left: calc(50% - 45px);
  background-image: url("../img/recognition.svg");
  content: "";
  width: 88px;
  height: 88px;
  background-size: contain;
  background-repeat: no-repeat;
}

.advanced-box__item:nth-child(2)::before {
  position: absolute;
  top: -18%;
  left: calc(50% - 45px);
  background-image: url("../img/records.svg");
}

.advanced-box__item:nth-child(3)::before {
  position: absolute;
  top: -18%;
  left: calc(50% - 45px);
  background-image: url("../img/customizable.svg");
}

.advanced-box__ls-tlt {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 700;
  text-align: center;
  font-size: var(--text-font-size-22);
  line-height: var(--text-line-height-33);
  color: var(--tex-colar-343);
}

.advanced-box__ls-txt {
  margin: 0;
  font-weight: 500;
  text-align: center;
  font-size: var(--text-font-size-15);
  line-height: var(--text-line-height-26);
  color: var(--text-colar-9e9);
}

@media screen and (min-width: 830px) {
  .advanced-box__list {
    max-width: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 90px 50px;
  }
  .advanced-box__item {
    flex-wrap: 1;
    position: relative;
    max-width: 350px;
  }
  .advanced-box__list::before {
    right: calc(50% - 325px);
    bottom: 51%;
    content: "";
    width: 590px;
    height: 8px;
    background-color: #2BD0D0;
    transform: rotate(110deg);
  }
  .advanced-box__list::after {
    position: absolute;
    display: inline-block;
    z-index: 0;
    right: calc(50% - 266px);
    bottom: 51%;
    content: "";
    width: 590px;
    height: 8px;
    background-color: #2BD0D0;
    background-size: contain;
    transform: rotate(70deg);
  }
}
@media screen and (min-width: 1125px) {
  .advanced-box__list {
    width: 100%;
    max-width: 1110px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
  .advanced-box__item {
    margin: 0;
    flex-wrap: 1;
    position: relative;
    max-width: 340px;
  }
  .advanced-box__item::before {
    left: calc(50% - 135px);
  }
  .advanced-box__item:nth-child(2)::before {
    left: calc(50% - 135px);
  }
  .advanced-box__item:nth-child(3)::before {
    left: calc(50% - 135px);
  }
  .advanced-box__item:nth-child(2) {
    top: 50px;
    max-width: 340px;
  }
  .advanced-box__item:nth-child(3) {
    top: 100px;
    max-width: 340px;
  }
  .advanced-box__list::before {
    bottom: 35%;
    transform: rotate(0deg);
  }
  .advanced-box__list::after {
    display: none;
  }
  .advanced-box__ls-tlt {
    text-align: left;
  }
  .advanced-box__ls-txt {
    text-align: left;
  }
}
@media only screen and (min-width: 830px) {
  .advanced-section {
    padding-bottom: 80px;
  }
}
@media only screen and (max-width: 830px) {
  .advanced-section {
    padding-bottom: 80px;
  }
}
@media only screen and (min-width: 1125px) {
  .advanced-section {
    padding-bottom: 200px;
  }
}
.hero {
  padding-top: 139px;
  height: 665px;
  background-color: #fff;
}

.hero-box {
  position: relative;
}

.hero-box__left {
  width: 100%;
  max-width: 592px;
}

.hero {
  background-image: url("../img/hero-bg-fuul.svg");
  background-size: 733px 482px;
  background-repeat: no-repeat;
  background-position: calc(50% + 485px) 45px;
}

.hero-box__title {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: var(--text-font-size-80);
  line-height: var(--text-line-height-90);
  color: var(--tex-colar-343);
}

.hero-box__text {
  margin: 0;
  margin-bottom: 52px;
  font-size: var(--text-font-size-22);
  line-height: var(--text-line-height-36);
  color: var(--text-colar-9e9);
}

.advanced-box-btn {
  margin: 52px 0 0 0;
  margin-top: 52px;
  width: 100%;
  max-width: 197px;
  padding: 14px 40px;
  background-color: #2BD0D0;
  border-radius: 28px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  font-size: var(--text-font-size-20);
  line-height: var(--text-line-height-30);
  text-decoration: none;
}

.hero-box__input-box {
  position: absolute;
  left: 0%;
  bottom: -88%;
  background-image: url("../img/hero-input.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 100%;
  max-width: 1110px;
  height: 169px;
  padding: 52px 35px 26px 35px;
}

.hero-box__input {
  width: 100%;
  max-width: 769px;
  height: 64px;
  padding: 14px 32px;
  border-radius: 10px;
}

.hero-box__input:not(:-moz-placeholder-shown):not(:focus):invalid {
  border: 3px solid #F46363;
  border-radius: 10px;
  color: #F46363;
}

.hero-box__input:not(:-ms-input-placeholder):not(:focus):invalid {
  border: 3px solid #F46363;
  border-radius: 10px;
  color: #F46363;
}

.hero-box__input:not(:placeholder-shown):not(:focus):invalid {
  border: 3px solid #F46363;
  border-radius: 10px;
  color: #F46363;
}

.hero-box__input:not(:-moz-placeholder-shown):not(:focus):valid {
  border: 3px solid #2BD0D0;
  border-radius: 10px;
  color: #2BD0D0;
}

.hero-box__input:not(:-ms-input-placeholder):not(:focus):valid {
  border: 3px solid #2BD0D0;
  border-radius: 10px;
  color: #2BD0D0;
}

.hero-box__input:not(:placeholder-shown):not(:focus):valid {
  border: 3px solid #2BD0D0;
  border-radius: 10px;
  color: #2BD0D0;
}

.hero-box__input:not(:-moz-placeholder-shown):not(:focus):valid ~ .hero-box__input-invalid {
  opacity: 1;
  color: #2BD0D0;
}

.hero-box__input:not(:-ms-input-placeholder):not(:focus):valid ~ .hero-box__input-invalid {
  opacity: 1;
  color: #2BD0D0;
}

.hero-box__input:not(:placeholder-shown):not(:focus):valid ~ .hero-box__input-invalid {
  opacity: 1;
  color: #2BD0D0;
}

.hero-box__input:not(:-moz-placeholder-shown):not(:focus):invalid ~ .hero-box__input-invalid {
  opacity: 1;
}

.hero-box__input:not(:-ms-input-placeholder):not(:focus):invalid ~ .hero-box__input-invalid {
  opacity: 1;
}

.hero-box__input:not(:placeholder-shown):not(:focus):invalid ~ .hero-box__input-invalid {
  opacity: 1;
}

.hero-box__input-invalid {
  opacity: 0;
  color: #F46363;
  margin-top: 5px;
}

.hero-box__lable {
  width: 100%;
  max-width: 769px;
}

.hero-box__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-box__input::-moz-placeholder {
  font-weight: 500;
  font-size: var(--text-font-size-20);
  line-height: var(--text-line-height-36);
  color: rgba(52, 49, 61, 0.5019607843);
}

.hero-box__input:-ms-input-placeholder {
  font-weight: 500;
  font-size: var(--text-font-size-20);
  line-height: var(--text-line-height-36);
  color: rgba(52, 49, 61, 0.5019607843);
}

.hero-box__input::placeholder {
  font-weight: 500;
  font-size: var(--text-font-size-20);
  line-height: var(--text-line-height-36);
  color: rgba(52, 49, 61, 0.5019607843);
}

.hero-box__input-button {
  margin-left: 18px;
  width: 220px;
  height: 64px;
  padding: 14px 40px;
  background-color: #2BD0D0;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: var(--text-font-size-20);
  line-height: var(--text-line-height-30);
  color: #FFFFFF;
  margin-bottom: 25px;
}

.hero-box__input-button:hover {
  background-color: #9AE3E3;
}

.advanced-box-btn:hover {
  background-color: #9AE3E3;
}

.header-list__link:hover {
  color: #34313D;
}

@media screen and (max-width: 1170px) {
  .hero {
    background-position: calc(50% + 400px) 45px;
  }
  .hero-box__left {
    position: relative;
    max-width: 450px;
  }
  .hero-box__title {
    font-size: 60px;
    line-height: 80px;
  }
  .hero-box__text {
    font-size: var(--text-font-size-20);
    line-height: var(--text-line-height-22);
  }
  .hero-box__input-button {
    margin-left: 16px;
    width: 220px;
    font-size: var(--text-font-size-18);
    line-height: var(--text-line-height-24);
  }
}
@media screen and (max-width: 800px) {
  .hero {
    background-position: calc(50% + 400px) 45px;
    padding-top: 120px;
  }
  .hero-box__left {
    max-width: 370px;
  }
  .hero-box__title {
    font-size: 50px;
    line-height: 60px;
  }
  .hero-box__text {
    font-size: var(--text-font-size-18);
    line-height: var(--text-line-height-22);
  }
  .hero-box__input-box {
    bottom: -125%;
  }
}
@media screen and (max-width: 735px) {
  .hero {
    background-size: 600px 400px;
    background-position: calc(50% + 50px) 45px;
    padding-top: 120px;
    height: 980px;
  }
  .hero-box__left {
    position: relative;
    bottom: -380px;
    margin: 0 auto;
  }
  .hero-box__form {
    flex-direction: column;
  }
  .hero-box__title {
    text-align: center;
  }
  .hero-box__text {
    text-align: center;
  }
  .advanced-box-btn {
    display: block;
    margin: 0 auto;
  }
  .hero-box__input-box {
    position: absolute;
    left: 0%;
    bottom: -215%;
    width: 100%;
    max-width: 1110px;
    padding: 15px 35px 26px 35px;
    background-size: cover;
    height: 185px;
    border-radius: 10px;
  }
  .hero-box__input-button {
    display: block;
    width: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 500px) {
  .hero {
    background-size: 500px 300px;
    height: 860px;
  }
  .hero-box__left {
    bottom: -280px;
  }
  .hero-box__title {
    font-size: 42px;
    line-height: 48px;
  }
  .hero-box__text {
    font-size: 18px;
    line-height: 30px;
  }
  .hero-box__input-box {
    bottom: -175%;
  }
}
@media screen and (max-width: 388px) {
  .hero {
    background-size: 500px 300px;
    height: 900px;
  }
  .hero-box__input-box {
    bottom: -190%;
  }
}
@media screen and (max-width: 350px) {
  .hero {
    background-size: 500px 300px;
    height: 915px;
  }
  .hero-box__input-box {
    bottom: -155%;
  }
}
.boots-section {
  padding: 57px;
  width: 100%;
  background-image: url("../img/last-section.png");
  background-size: cover;
}

.boots-box {
  margin: 0 auto;
  width: 100%;
  max-width: 540px;
}

.boots-box__title {
  margin: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: var(--text-font-size-40);
  line-height: var(--text-line-height-48);
  text-align: center;
  color: var(--text-colar-fff);
}

.boots-button {
  width: 197px;
  padding: 14px 40px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: var(--text-font-size-20);
  line-height: var(--text-line-height-30);
  color: var(--text-colar-fff);
}

.advanced-box-btn--active {
  margin: 0 auto;
  display: block;
}

@media screen and (max-width: 650px) {
  .boots-section {
    padding: 0 0;
    width: 100%;
  }
  .boots-box {
    padding: 50px 35px;
  }
  .boots-box__title {
    margin: 0;
    margin-bottom: 32px;
    font-size: 26px;
    line-height: 48px;
    text-align: center;
  }
}
@media screen and (max-width: 410px) {
  .boots-section {
    padding: 0 0;
    width: 100%;
  }
  .boots-box {
    padding: 50px 35px;
  }
  .boots-box__title {
    margin: 0;
    margin-bottom: 32px;
    font-size: 22px;
    line-height: 48px;
    text-align: center;
  }
}
footer {
  padding: 71px 70px;
  background-color: #232127;
}

.footer-box {
  display: flex;
}

.footer-box__logo {
  width: 100%;
  max-width: 300px;
}

.footer-box__first-list {
  margin: 0;
  margin-left: auto;
}

.footer-box__lists {
  margin: 0;
  margin-top: 22px;
  padding: 0;
  width: 150px;
}

.footer-box__item {
  list-style: none;
}

.footer-box__item:not(:last-child) {
  margin-bottom: 10px;
}

.footer-box__first-title {
  font-weight: 700;
  font-size: var(--text-font-size-16);
  line-height: var(--text-line-height-24);
  color: var(--text-colar-fff);
}

.footer-box__link {
  font-weight: 500;
  font-size: var(--text-font-size-15);
  line-height: var(--text-font-size-22);
  color: #BFBFBF;
  text-decoration: none;
}

.footer-box__first-list--active {
  margin-left: auto;
}

.footer-box_first-list--active {
  margin-left: auto;
}

.footer-box__site-social {
  margin-left: auto;
  display: flex;
}

.footer-box__link {
  margin-right: 24px;
}

.footer-box__link:hover {
  color: #2BD0D0;
}

@media screen and (max-width: 965px) {
  .footer-box {
    flex-direction: column;
  }
  .footer-box__logo {
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: 120px;
  }
  .footer-box__first-list {
    margin: 0 auto;
  }
  .footer-box__lists {
    margin-bottom: 38px;
  }
  .footer-box__first-title {
    display: block;
    margin-bottom: 22px;
    text-align: center;
  }
  .footer-box__first-list--active {
    margin: 0 auto;
  }
  .footer-box_first-list--active {
    margin: 0 auto;
  }
  .footer-box__site-social {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 166px;
  }
  .footer-box__item {
    text-align: center;
    margin: 0 auto;
  }
  .footer-box__link {
    margin: 0;
  }
}/*# sourceMappingURL=main.css.map */