:root{
    --text-colar-9e9: #9E9AA8;
    --tex-colar-343: #34313D;
    --text-colar-fff: #fff;
    --text-font-size-15: 15px;
    --text-font-size-16: 16px;
    --text-font-size-18: 18px;
    --text-font-size-20: 20px;
    --text-font-size-22: 22px;
    --text-font-size-40: 40px;
    --text-font-size-80: 80px;

    --text-line-height-22: 22px;
    --text-line-height-24: 24px;
    --text-line-height-26: 26px;
    --text-line-height-30: 30px;
    --text-line-height-32: 32px;
    --text-line-height-33: 33px;
    --text-line-height-36: 36px;
    --text-line-height-48: 48px;
    --text-line-height-90: 90px;

    --button-bg-colar-2bd: #2BD0D0;

}